body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242423;
    color: white;
}
#description {
    background: #191919;
    padding: 5px;
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: 100;
    letter-spacing: 12px;    
}
#description a {
    background: transparent;
    color: rgb(43, 149, 248);
    text-decoration: none;
}
nav{
    display:flex;
    flex-wrap: wrap;
    background: #191919;
    padding: 0;
}
header {
    padding: 4px;
    margin: 0 0 10px 0;
}
header h2 {
    font-size: 2em;
}
#nav-a {
    display:flex;
    width: 567px;
}
#logo-img {
    padding: 10px 0 0 10px;
    width: 80px;
    height: 70px;
}
#main-title {
    padding: 15px 30px 15px 10px;
    font-size: 3em;
    margin: 0 0 0 0;
    border-right: 1px dashed rgba(255, 255, 255, 0.233);
}
header a {
    background: transparent;
    color: white;
    text-decoration: none;
}
#main-title a {
    background: transparent;
    color: white;
    text-decoration: none;
}
main {
    width: 100%;
    height: 1000px;
    margin: 10px 0 0 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content {
    background: #0000002f;
    height: 100%;
    width: 40%;
}
#login-pg {
    margin-bottom: 20px;
}
.title {
    text-align: center;
    font-size: 2em;
}
#login-pg input {
    display: flex;
    width: 50%;
    padding: 5px;
    margin: 0 25% 2px 25%;
    border-radius: 15px;
    border: 1px solid black;
}
#login-pg #lg-button {
    width: 60%;
    border: 3px solid rgb(15, 15, 15);
    padding: 5px;
    margin: 10px 20% 0 21%;
    border-radius: 5px;
    background-color: #19fa776c;
    color: #fff;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px #000000;
    font-size: 1em;
    cursor:pointer;
}
#lg-output {
    width: 80%;
    margin: 0 10% 0 10%;
}
#lg-output span {
    color: rgb(0, 173, 0);
}