::-webkit-scrollbar { /* width */
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track { /* Track */
    background: #292927; 
}  
::-webkit-scrollbar-thumb { /* Handle */
    background: rgb(95, 93, 93); 
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555; 
}
::-webkit-scrollbar-corner{
    background: #292927; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242423;
    color: white;
}
main {
    width: 100%;
    height: 1000px;
    margin: 10px 0 0 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#description {
    background: #191919;
    padding: 5px;
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: 100;
    letter-spacing: 12px;    
}
#description a {
    background: transparent;
    color: rgb(43, 149, 248);
    text-decoration: none;
}
nav{
    display:flex;
    flex-wrap: wrap;
    background: #191919;
    padding: 0;
}
#nav-a {
    display:flex;
    width: 510px;
}
header {
    padding: 4px;
    margin: 0 0 10px 0;
}
header a {
    background: transparent;
    color: white;
    text-decoration: none;
}
header h2 {font-size: 1.95em;}
.title {
    text-align: center;
    font-size: 2em;
}
.bbuton {
    background-color: #19fa775b;
    color: #ffffffd3;
    text-shadow: 1px 1px 2px #000000;
    cursor:pointer;
}
#logo-img {
    padding: 10px 0 0 10px;
    width: 80px;
    height: 70px;
}
#main-title {
    padding: 15px 30px 15px 10px;
    font-size: 3em;
    margin: 0;
    border-right: 1px dashed rgba(255, 255, 255, 0.233);
}
#main-title a {
    background: transparent;
    color: white;
    text-decoration: none;
}
.content {
    background: #0000002f;
    height: 75%;
    min-width: 590px;
    max-width: 600px;
    margin-bottom: 10px;
}
#obj-fab-pg {
    max-width: 80%;
    min-width: 80%;
    margin: 0 0 0 10%;
}
#obj-fab-pg fieldset {
    border: none;
    padding: 0;
}
#new-ob-btn {
    width: 100%;
    margin-bottom: 5px;
}
#obj-key, #obj-key-val {
    width: 25%;
}
#add-atb-btn {
    width: 44.7%;
}
#obj-preview {
    max-width: 52%;
    min-width: 52%;
    height: 20px;
    padding: 5px 5px 9px 5px;
    margin: 5px 0 0 0;
    background-color: #0000006b;
    font-size: 14px;
    color: #00ad00;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 0 10px 10px 5px 0;
    border: 1px solid #524d4d69;
}
#inline {
    max-width: 100%;
    display:flex;
}
#display-p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#cl-obj {
    height: 30px;
    margin: 6px 6px 6px 3px;
}
#obj-del-atb {
    height: 30px;
    margin: 6px 0 0 0;
    width: 25%;
}
#double-div {
    display: flex;
    width: 100%;
}
#double-div #mth-options {
    margin:0;
    width: 54%;
    background-color: #191919;
    border-radius: 10px;
    padding:3px 0 5px 0;
    height: 66px;
}
#double-div #mth-options #main-lb {
    font-size: 15.4px;
    text-align: center;
    width:100%;
    display: block;
}
#double-div #mth-options .options {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2px;
}
#opt-grp {
    padding-top: 5px;
}
#double-div #buttons {
    margin: 0 0 0 3px;
    width: 44.5%;
}
#double-div #buttons input {
    width: 100%;
    margin-bottom: 5px;
}
#obj-arr-preview {
    width: 97.5%;
    height: 55px; 
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: #0000006b;
    font-size: 14px;
    color: #ff060659;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 0 10px 10px 5px 0;
    border: 1px solid #524d4d69;
}